@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    --nav-height: 70px;
    --side-margin: 70px;
    --barnd-green: #49c22a;
    --off-white: #f5f5f5;
    --off-off-white: #eeeeee;
    --super-strong-shadow: #0006 0px 0px 5px;
    --strong-shadow: #0006 0px 0px 10px;
    --weak-shadow: #0004 0px 0px 14px;
    --strong-glow: #61ce36 0px 0px 10px;
    --weak-glow: #61ce3688 0px 0px 14px
}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
nav{
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    height: var(--nav-height);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: var(--strong-shadow);
}
#nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}
#nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 45px;
}
#nav-logo{
    min-width: 210px;
    color: var(--barnd-green);
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    transition: text-shadow 200ms ease-in-out;
    -webkit-transition: text-shadow 200ms ease-in-out;
    -moz-transition: text-shadow 200ms ease-in-out;
    -ms-transition: text-shadow 200ms ease-in-out;
    -o-transition: text-shadow 200ms ease-in-out;
}
#nav-logo:hover{
    text-shadow: var(--weak-glow);
}
#nav-contribute{
    color: white;
    background-color: var(--barnd-green);
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    user-select: none;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out;
    -webkit-transition: box-shadow 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    flex-shrink: 1;
}
#nav-contribute:hover{
    box-shadow: var(--strong-glow);
}
#nav-search{
    width: 150px;
    height: 30px;
    border: #666 solid 1.5px;
    box-shadow: var(--weak-shadow);
    outline: none;
    padding: 0px 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--barnd-green-darker);
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 500;
    flex-shrink: 1;
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    text-decoration: underline;
}
#welcome-page{
    height: calc(100vh - var(--nav-height));
    margin-top: var(--nav-height);
    position: relative;
}
#welcome-page h1{
    position: absolute;
    bottom: 30px;
    left: 60px;
    margin: 0px;
    user-select: none;
    color: white;
    font-family: 'Rubik';
    font-size: 60px;
    text-shadow: var(--super-strong-shadow);
}
#welcome-page h1 span{
    color: var(--barnd-green);
}
#welcome-page p{
    position: absolute;
    top: 40px;
    left: 55%;
    width: calc(45% - 20px);
    margin: 0px;
    padding: 5px;
    color: white;
    text-shadow: black 0px 0px 6px;
}
#welcome-page p a{
    color: var(--barnd-green);
    text-decoration: none;
}
#welcome-page p a:hover{
    text-decoration: underline;
}
#welcome-page img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}
#faculties-page{
    padding-top: 10px;
}
.faculty-page h2, #faculties-page h2{
    margin: 10px 0px 0px 20px;
    text-decoration: var(--barnd-green) underline;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    font-family: 'Rubik';
}
#faculties-container{
    margin: 40px var(--side-margin);
    background-color: var(--off-white);
    box-shadow: #4444 2px 5px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.faculty{
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: default;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.faculty:hover{
    background: var(--off-off-white);
}
.faculty span{
    cursor: pointer;
}
.faculty span:hover{
    text-decoration: underline;
}
.faculty img{
    height: 100%;
}
.faculty-page{
    min-height: 200px;
    display: grid;
    grid-template-rows: auto 1fr;
}
.faculty-navigator{
    margin: 30px var(--side-margin) 50px var(--side-margin);
    padding: 10px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 3fr 5fr;
    background-color: var(--off-white);
    box-shadow: #4444 2px 5px 15px;
    gap: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 500;
}
.module-selector, .grade-selector, .subject-selector{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.module, .grade, .subject{
    background-color: var(--off-off-white);
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.module span, .grade span, .subject span{
    color: var(--barnd-green);
    text-decoration: underline;
}
.module:hover, .grade:hover, .subject:hover{
    text-decoration: underline;
}
footer{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--off-white);
    box-shadow: var(--strong-shadow);
}
footer a{
    color: var(--barnd-green);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}